html,
body {
  font-size: 18px;
  font-family: 'Darker Grotesque', sans-serif;
  margin: 0;
  padding: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.btn {
  border: 2px solid black;
  font-size: 20px;
  color: grey;
}

.btn-primary {
  background-color: cadetblue;
  color: white;
}
.btn-warning {
  background-color: gold;
  color: black;
}
.btn-success {
  background-color: green;
  color: white;
}
.operator {
  background-color: lightgrey;
  color: white;
}
.operator:hover {
  background-color: gray;
  color: white;
}
.btn:hover {
  cursor: pointer;
  background-color: grey;
  color: white;
}

.btn:active {
  background-color: grey;
  color: white;
}

.bg-calc {
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  background-color: lightgray;
}
.keyboard-calc {
  display: flex;
  min-width: 100%;
  flex-direction: row;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1 {
  font-size: 22px;
  margin: 0;
}

#body-calc {
  border: 1px solid black;
  transform: translate(-1%, -21%);
  width: 300px;
  position: absolute;
  display: block;
  padding-top: 30px;
  margin-top: 87px;
  margin-left: auto;
  background-color: lightgray;
}

.screen-calc {
  width: 264px;
  font-size: 16px;
  height: 30px;
  color: darkgrey;
  text-align: right;
  margin-left: 18px;
}

button {
  height: 35px;
  width: 100%;
  /* background-color: transparent; */
  border-radius: 4px;
  margin-bottom: 5px;
}

button {
  height: 35px;
  /* border: lightgray; */
}

.btn-calc {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  grid-gap: 18px;
  padding: 18px;
}
